

input{
    padding: 10px;
    margin: 10px 10px 10px 0px;
}
.info{
    margin-bottom: 10px !important;
}
.my-auto{
    margin-top: 100px !important;
}
.header{
    text-align: center;
}
.register{
    background: transparent !important;
    color: white !important;
    text-decoration: underline;
    cursor: pointer;
}
.redColor{
    color: red;
}
